<header>
    <div class="container is-flex is-align-items-center">
        <h1>
            <a routerLink="/"> R&R <span>&nbsp;|&nbsp;</span></a>
        </h1>
        <a class="nav-link mr-auto" routerLink="/" (click)="goToTop()">Home</a>

        @for (page of common; track $index) {
            <a class="nav-link" [routerLink]="page" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" translate>pages.{{ page }}.tab</a>
        }

        @if (api.user(); as user) {
            @if (user.isAdmin) {
                <a class="nav-link" routerLink="admin/guests" routerLinkActive="is-active">Manage Guests</a>
            } @else {
                @for (page of secure; track $index) {
                    <a class="nav-link" [routerLink]="'rsvp/' + page" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" translate>pages.{{ page || 'details' }}.tab</a>
                }
            }
        } @else {
            <a class="nav-link" routerLink="login" routerLinkActive="is-active" translate>pages.login.tab</a>
        }

        <button type="button" class="navbar-burger" [class.is-active]="menuOpen" aria-label="menu" aria-expanded="false" (click)="menuOpen = !menuOpen">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </button>
    </div>
</header>

<div class="navbar-menu is-hidden-tablet has-text-centered" [class.is-active]="menuOpen">
    @for (page of common; track $index) {
        <a class="navbar-item" [routerLink]="page" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" translate>pages.{{ page }}.tab</a>
    }

    @if (api.user(); as user) {
        @if (user.isAdmin) {
            <a class="navbar-item" routerLink="admin/guests" routerLinkActive="is-active">Manage Guests</a>
        } @else {
            @for (page of secure; track $index) {
                <a class="navbar-item" [routerLink]="'rsvp/' + page" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" translate>pages.{{ page || 'details' }}.tab</a>
            }
        }
    } @else {
        <a class="navbar-item" routerLink="login" routerLinkActive="is-active" translate>pages.login.tab</a>
    }
</div>

<main>
    <div id="page-content"></div>

    <router-outlet />
</main>

<footer>
    <div class="container has-text-centered">
        <small class="has-text-grey">
            {{ 'footer.copyright' | translate: { year: currentYear } }}

            @if (api.user()) {
                <button type="button" class="button is-small ml-2" (click)="api.logout()">
                    <span translate>common.logout</span>
                </button>
            }
        </small>
    </div>
</footer>
