<div class="container is-max-tablet">
    <form class="box" novalidate [formGroup]="rsvpForm" (submit)="rsvp()">
        <div class="field">
            <label class="label" translate>pages.login.name</label>
            <div class="control">
                <input class="input" [class.is-danger]="rsvpForm.controls.lastName.touched && rsvpForm.controls.lastName.errors" type="text" placeholder="" formControlName="lastName" />
                @if (rsvpForm.controls.lastName.touched && rsvpForm.controls.lastName.errors) {
                    <p class="help is-danger" translate>forms.required</p>
                }
            </div>
        </div>
        <div class="field">
            <label class="label" translate>pages.login.email</label>
            <div class="control">
                <input class="input" [class.is-danger]="rsvpForm.controls.email.touched && rsvpForm.controls.email.errors" type="email" placeholder="" formControlName="email" />
                @if (rsvpForm.controls.email.touched && rsvpForm.controls.email.errors) {
                    <p class="help is-danger" translate>forms.required</p>
                }
            </div>
        </div>

        @if (error) {
            <div class="notification is-danger">
                <button class="delete" (click)="error = null"></button>
                {{ error.statusText | translate }}
            </div>
        }

        @if (rsvpForm.disabled) {
            <progress class="progress is-small is-primary" max="100"></progress>
        }

        <button class="button is-primary is-fullwidth" translate>pages.login.submit</button>
    </form>
</div>
