.a-title {
    padding: 1rem 0;
}

.minimise-button {
    position: absolute;
    right: 15px;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    font-size: 1em;
    cursor: pointer;
    background-color: #7a0620;
    color: white;
}

.info {
    margin-bottom: 1em;
    text-align: left;

    h3 {
        font-size: 2em !important;
        margin-top: -0.25rem !important;
        margin-bottom: 0 !important;
    }
}

.question-answer {
    text-align: left;
    font-size: 1.1em;

    &:not(:last-child) {
        margin-bottom: 1em;
    }
}

.label {
    font-weight: bold;
    font-size: 1.1em;
    display: block;
    color: #7a0620;

    &:not(.is-checkbox) {
        margin-bottom: 0.3em;
        margin-top: -0.3em;
    }

    &.is-checkbox {
        color: #7a0620;
        margin-bottom: 1em;
    }
}

.question {
    display: block;
    margin-top: -0.5em;
    margin-bottom: 0.25em;
    color: #777;
}

.form-wrapper {
    position: relative;
    padding: 1.25em;
    background-color: white;
    // border: 2px dashed #7a0620;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

    border-radius: 2px;
    margin-bottom: 1em;
    text-align: left;
}

.table {
    margin-top: 0.75em;

    td:first-child {
        white-space: nowrap;
    }
}
