<section>
    <div class="container is-max-widescreen">
        <img src="assets/images/banner.jpg" alt="Rob & Resh" />
    </div>
</section>

<div class="a-page a-heading">
    <img src="assets/images/divider.svg" />
    <h2>Our Story</h2>
    <img src="assets/images/divider.svg" />
</div>

<div class="page container content">
    <div class="cell">
        <img src="assets/images/rob2.jpeg" />
        <div>
            <h3 class="is-size-4">Rob's Story</h3>
            <p>
                <img src="assets/images/rob2.jpeg" ALIGN="left" />
                Rob was born in Bristol and raised in the quiet village of Charvil, Reading. Whilst earning a degree in Forensic Computing, he discovered his true calling in software development and never looked back. Over the last decade, Rob has built a
                career as a Senior Full-Stack Developer in London. In his spare time, he built a golf app —a nod to his weekend devotion to the sport.
            </p>
        </div>
    </div>

    <div class="cell">
        <img src="assets/images/reshma4.jpeg" />
        <div>
            <h3 class="is-size-4">Resh's Story</h3>
            <p>
                <img src="assets/images/reshma4.jpeg" ALIGN="left" />
                Born in India, raised in the Middle East, and now based in the UK, Reshma's life has always been a blend of diverse cultures. She studied Electronics Engineering in India and spent two years working in tech before relocating to the UK to
                pursue her Master's in Artificial Intelligence at Southampton. After her Master's, she moved to Reading, purely for a change of location while job hunting, where she met Rob. Today, she works as an AI Engineer in Bicester.
            </p>
        </div>
    </div>

    <div class="cell">
        <img src="assets/images/robresh3.jpeg" />
        <div>
            <h3 class="is-size-4">Our Story</h3>
            <p>
                <img src="assets/images/robresh3.jpeg" ALIGN="left" />
                We met for the first time at Forbury Gardens in Reading—not with fireworks, but with a calm that felt oddly familiar. What followed was a slow, beautiful unfolding. Over two years of friendship and love, we became each other's anchor. We
                grew together, challenged each other, and found that the most profound thing we had in common was the way we both loved—with loyalty, curiosity, and deep care for family. On May 18th, Rob brought Reshma to the same spot in Forbury Gardens,
                and he proposed.
            </p>
        </div>
    </div>
</div>
