<div class="a-page">
    <div class="content">
        <section class="a-title">
            <div class="page container is-max-tablet has-text-centered">
                <div class="separator">
                    <img src="assets/images/divider.svg" />
                </div>

                <h2>Registry</h2>
                <h3></h3>

                <div class="separator flipped">
                    <img src="assets/images/divider.svg" />
                </div>

                <p>
                    <em> We are grateful for your love and support as we embark on this new journey together. If you are joining us in person, your presence is the greatest gift we could ask for! </em>
                </p>

                <p>
                    If you do however wish to gift us, please feel free to reach out to us at
                    <a href="mailto:robertandreshma@gmail.com">robertandreshma{{ '@' }}gmail.com</a> for our personal information such as mailing address or bank details.
                </p>

                <p>
                    <em>Thank you for being a part of our special day. </em>
                </p>
            </div>
        </section>
    </div>
</div>
