<div class="a-page">
    <div class="content">
        <section class="a-title">
            <div class="page container is-max-tablet has-text-centered">
                <div class="separator">
                    <img src="assets/images/divider.svg" />
                </div>

                <h2>Registry</h2>
                <h3></h3>

                <div class="separator flipped">
                    <img src="assets/images/divider.svg" />
                </div>

                <p>
                    <em> Whilst we have setup a registry page, <strong>your presence</strong> at our wedding is the greatest gift we could ask for. However, if you wish to honour us with a gift we have set up a wishing well. </em>
                </p>

                <p>
                    <em> Thank you for being a part of our special day. We are grateful for your love and support as we embark on this new journey together. </em>
                </p>

                <a class="button is-primary" href="https://prezola.com/buy/view/248257" target="_blank" rel="noopener noreferrer"> View Registry </a>
            </div>
        </section>
    </div>
</div>
