<div class="container content is-max-tablet has-text-centered">
    <h2 class="is-size-2" translate>pages.bio.title</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget felis euismod, aliquam nunc quis, lacinia nisi. Donec vel metus nec tellus malesuada convallis. Sed vehicula, ipsum vel tincidunt vehicula, massa nunc finibus nibh, vel tempor
        diam nisi vel magna. Vivamus sit amet metus in tortor tempus bibendum.
    </p>

    <p>
        Fusce vel augue nec libero feugiat feugiat. Nulla facilisi. Cras laoreet ligula eget justo tempor, vel facilisis eros tincidunt. Suspendisse potenti. Proin bibendum lacus vel eros gravida, vel tincidunt justo ultrices. Vivamus vel magna vel lectus
        malesuada fermentum vel vel nunc. Etiam fringilla enim at neque tincidunt, vel malesuada justo facilisis.
    </p>

    <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas ullamcorper augue vel tellus tincidunt, vel fringilla nunc finibus. Praesent vulputate erat vel magna congue, vel dignissim magna tristique.
        Duis molestie bibendum felis, vel mattis mauris tincidunt vel.
    </p>

    <p>
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam erat volutpat. Donec semper, lacus vel dignissim tempus, magna nunc tincidunt metus, vel aliquam lorem libero vel magna. Nulla facilisi. Donec vel nisi
        vitae nisl rhoncus aliquam vel vel magna.
    </p>
</div>
