<div class="a-page">
    <div class="content">
        <div class="hero-image">
            <img src="assets/images/kerala.jpg" alt="Kerala, India" />
        </div>

        <section class="a-title no-sub">
            <div class="page container is-max-tablet has-text-centered">
                <div class="separator">
                    <img src="assets/images/divider.svg" />
                </div>

                <h2>Welcome to Kerala, India</h2>

                <div class="separator flipped">
                    <img src="assets/images/divider.svg" />
                </div>

                <p>
                    <em>
                        Located in the southern part of India, Kerala is a lush, tropical state known for its serene backwaters, spice plantations, and a rich cultural heritage. Often called “God’s Own Country,” it’s a land of coconut palms, classical
                        music, vibrant festivals, and some of the most scenic landscapes in the country.
                    </em>
                </p>
                <p>
                    <em>
                        On Kerala’s western coast lies Kochi — a historic port city where cultures have mingled for centuries. Once a key hub in the global spice trade, Kochi has been shaped by Portuguese, Dutch, and British influences, still visible
                        today in its colonial-era architecture, old churches, and winding streets.
                    </em>
                </p>

                <p>
                    <em>
                        Today, Kochi is a laid-back blend of the past and present — with seaside charm, art galleries, fresh seafood, and stunning sunsets over the Arabian Sea. It's the perfect place to experience both the soul of Kerala and the warmth of
                        its people.
                    </em>
                </p>
            </div>

            <div class="line-break"></div>

            <div class="page container is-max-desktop has-text-centered">
                <div class="separator">
                    <img src="assets/images/divider.svg" />
                </div>

                <h2>Places to visit in Kochi</h2>

                <div class="separator flipped">
                    <img src="assets/images/divider.svg" />
                </div>

                <div class="food">
                    <img src="assets/images/nets.jpg" alt="Fishing Nets" />
                    <div>
                        <h4>Chinese Fishing Nets In Fort Kochi</h4>
                        <p>
                            The iconic Chinese fishing nets are a must-see in Fort Kochi. These enormous nets, believed to have been introduced by Chinese traders, are a unique sight and a testament to the region's rich maritime history. Watching the
                            fishermen
                        </p>
                    </div>
                </div>

                <div class="food mt-4">
                    <img src="assets/images/town.jpg" alt="Jew Town" />
                    <div>
                        <h4>Jew Town In Fort Kochi</h4>
                        <p>Renowned for its antique shops, vibrant spice markets, and the iconic Paradesi Synagogue, it offers a unique glimpse into Kochi's Jewish heritage.</p>
                    </div>
                </div>

                <div class="food mt-4">
                    <img src="assets/images/spices.jpg" alt="Spices" />
                    <div>
                        <h4>The Spice Markets In Fort Kochi</h4>
                        <p>
                            Kochi has been a spice trading hub for centuries. The spice markets are a sensory delight, filled with the aroma of cardamom, pepper, and other spices. You can buy fresh spices and learn about their significance in Kerala's
                            cuisine.
                        </p>
                    </div>
                </div>
            </div>

            <div class="line-break"></div>

            <div class="page container is-max-desktop has-text-centered">
                <div class="separator">
                    <img src="assets/images/divider.svg" />
                </div>

                <h2>Must Try</h2>

                <div class="separator flipped">
                    <img src="assets/images/divider.svg" />
                </div>

                <div class="food">
                    <img src="assets/images/sadya.jpg" alt="Sadya" />
                    <div>
                        <h4>Sadya</h4>
                        <p>Explore the traditional vegetarian feast of Sadya, featuring up to 28 dishes that showcase the breadth of Kerala's vegetarian cuisine.</p>
                    </div>
                </div>
            </div>

            <div class="line-break"></div>

            <div class="page container is-max-desktop has-text-centered">
                <div class="separator">
                    <img src="assets/images/divider.svg" />
                </div>

                <h2>Other Destinations in Kerala</h2>

                <div class="separator flipped">
                    <img src="assets/images/divider.svg" />
                </div>

                <p>If you're planning to stay longer or explore more of Kerala, there are several other beautiful destinations worth visiting. Each offers a unique glimpse into the diverse landscapes and cultures of this state.</p>
            </div>
            <div class="container is-max-widescreen has-text-centered">
                <div class="is-list">
                    <p>
                        <img src="assets/images/alleppey.jpg" /><br />
                        <a href="https://www.keralatourism.org/destination/alappuzha-beach/60/" target="_blank" rel="noopener noreferrer"><strong>House boats & backwaters of Alleppey</strong></a>
                    </p>
                    <p>
                        <img src="assets/images/munnar.jpg" /><br />
                        <a href="https://www.keralatourism.org/destination/munnar/202/" target="_blank" rel="noopener noreferrer"><strong>Hillstations & Tea Plantation of Munnar</strong></a>
                    </p>
                    <p>
                        <img src="assets/images/athirapilly.jpg" /><br />
                        <a href="https://www.keralatourism.org/destination/athirappalli-vazhachal-waterfalls/79/" target="_blank" rel="noopener noreferrer"><strong>Athirappilly Falls &mdash; The Niagra Falls of India</strong></a>
                    </p>
                    <p>
                        <img src="assets/images/wildlife.jpg" /><br />
                        <a href="https://www.keralatourism.org/destination/periyar-tiger-reserve-idukki/192/" target="_blank" rel="noopener noreferrer"><strong>Wildlife Sanctuaries in Periyar</strong></a>
                    </p>
                </div>
            </div>

            <div class="page container is-max-desktop has-text-centered">
                <p>
                    We encourage you to explore these attractions before or after the wedding festivities. For more places to visit checkout
                    <a href="https://www.keralatourism.org/" target="_blank" rel="noopener noreferrer"><strong>https://www.keralatourism.org</strong>.</a>
                </p>
            </div>
        </section>
    </div>
</div>
