<div class="a-page">
    <div class="content">
        <section class="a-title">
            <div class="page container is-max-tablet has-text-centered">
                <div class="separator">
                    <img src="assets/images/divider.svg" />
                </div>

                <h2>Destination</h2>
                <h3>Kerala, India</h3>

                <div class="separator flipped">
                    <img src="assets/images/divider.svg" />
                </div>

                <p>
                    <em>God's Own Country — lush landscapes, tranquil backwaters, and timeless heritage. A place where serenity meets celebration.</em>
                </p>
            </div>
        </section>

        <section class="a-title is-red">
            <div class="page container is-max-desktop has-text-centered">
                <div class="separator">
                    <img src="assets/images/divider.svg" />
                </div>

                <h2>Accommodation</h2>
                <h3>Marriott Hotel, Kochi</h3>

                <div class="separator flipped">
                    <img src="assets/images/divider.svg" />
                </div>

                <p>We have arranged a block of <strong>deluxe</strong> rooms at the 5-star Marriott Hotel for selected guests. It is located only <strong>30 minutes</strong> away from the airport.</p>
                <p>Check is on the <strong>27th December</strong> at 3.30pm and check-out is on the <strong>31st December</strong> at 12.00pm</p>
                <p>Located next to Lulu Mall, the largest shopping mall in India, offering a perfect blend of luxury and convenience.</p>
                <div class="features is-flex is-align-items-center mb-4 pb-4">
                    <div>
                        <p><strong>Hotel Features:</strong> Enjoy a range of amenities designed for your comfort and convenience.</p>
                        <p><strong> Free buffet breakfast </strong></p>
                        <p><strong> Free Wi-Fi </strong></p>
                        <p><strong> Mini fridge in the room </strong></p>
                        <p><strong> Swimming pool & Fitness centre </strong></p>
                    </div>
                    <img src="assets/images/marriott.png" width="400" />
                </div>
                <p>
                    Some of you might want to arrive earlier or stay back for a few days to explore and enjoy the beauty of kerala. So, just let us know in the RSVP form if you would like your stays to be extended; but please be informed this will come as
                    an additional cost to yourself.
                </p>
                <p>
                    <a class="button" href="https://www.marriott.com/en-us/hotels/cokmc-kochi-marriott-hotel/overview/" target="_blank" rel="noopener noreferrer">Click here to view the hotel</a>
                </p>
            </div>
        </section>

        <section class="a-title is-red">
            <div class="page container is-max-desktop has-text-centered">
                <div class="separator">
                    <img src="assets/images/divider.svg" />
                </div>

                <h2>Event Planners</h2>
                <h3>Getting Around</h3>

                <div class="separator flipped">
                    <img src="assets/images/divider.svg" />
                </div>

                <p>Our event planner will organisation and arrange transport for <strong>all</strong> venues and functions.</p>

                <p>We hope to have a Whatsapp group with our guests to communicate whilst there.</p>
            </div>
        </section>

        <!-- things todo in Kerela -->
        <section class="a-title">
            <div class="page container is-max-desktop has-text-centered">
                <div class="separator">
                    <img src="assets/images/divider.svg" />
                </div>

                <h2>Attractions</h2>
                <h3>Things to do in Kerala</h3>

                <div class="separator flipped">
                    <img src="assets/images/divider.svg" />
                </div>

                <p>Kerala offers a rich tapestry of experiences, from serene backwaters to vibrant culture. Here are some must-visit places:</p>

                <p>
                    <strong>Backwaters of Alleppey</strong>
                </p>
                <p>
                    <strong>Tea Gardens of Munnar</strong>
                </p>
                <p>
                    <strong>Wildlife Sanctuaries in Periyar</strong>
                </p>
                <p>
                    <strong>Cultural Heritage in Kochi</strong>
                </p>
                <p>
                    <strong>Beaches of Varkala and Kovalam</strong>
                </p>

                <p>We encourage you to explore these attractions before or after the wedding festivities.</p>
            </div>
        </section>
    </div>
</div>
