<div class="a-page">
    <div class="content">
        <section class="a-title">
            <div class="page container is-max-tablet has-text-centered">
                <div class="separator">
                    <img src="assets/images/divider.svg" />
                </div>

                <h2>RSVP</h2>
                <h3>Celebrate with us!</h3>

                <div class="separator flipped">
                    <img src="assets/images/divider.svg" />
                </div>

                <p>
                    <em>
                        We are so excited to celebrate our wedding with you! To help us plan the day, please let us know if you can make it by filling out the RSVP form below. Your response is important to us, and we appreciate your promptness in letting
                        us know.
                    </em>
                </p>

                <p>
                    <em> Please ensure you fill out the RSVP form by <strong>20th July 2025</strong>. This will help us finalize the arrangements and ensure that we can accommodate everyone comfortably. </em>
                </p>

                <a class="button is-primary" href="https://withjoy.com/reshma-and-robert-dec-25/rsvp" target="_blank" rel="noopener noreferrer"> RSVP Now </a>
            </div>
        </section>
    </div>
</div>

<iframe style="display: block; border: none; overflow: hidden" src="https://withjoy.com/reshma-and-robert-dec-25/rsvp?embed=true"> </iframe>
