.separator {
    margin-top: 0;
}

.features {
    .hotel {
        margin-left: auto;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;

        .hotel {
            margin-top: 2rem;
            margin-left: 0;
        }
    }
}

h4 {
    color: #50051b;
}

ul {
    font-size: 1.25rem;
}
