<div class="a-page">
    <div class="content">
        <section class="a-title">
            <div class="page container is-max-desktop has-text-centered">
                <div class="features is-flex is-align-items-center mb-4 pb-4">
                    <div>
                        <div class="separator">
                            <img src="assets/images/divider.svg" />
                        </div>

                        <h2>Accommodation</h2>
                        <h3>Marriott Hotel, Kochi</h3>

                        <div class="separator flipped">
                            <img src="assets/images/divider.svg" />
                        </div>
                    </div>
                    <img class="hotel" src="assets/images/marriott.png" width="300" />
                </div>

                <p>
                    We have arranged a block of <strong>Deluxe</strong> rooms at the 5-star Marriott Hotel for selected guests for <strong>4 nights</strong>. It is located only <strong>30 minutes</strong> away from Cochin International Airport. The rooms
                    come with: free buffet breakfast, free wifi, mini fridge & access to the swimming & fitness centre.
                </p>
                <p>Check-in is on the <strong>27th December</strong> at <strong>3pm</strong> and check-out is on the <strong>31st December</strong> at <strong>12pm</strong></p>
                <p>
                    Some of you might want to arrive earlier or stay back for a few days to explore and enjoy the beauty of Kerala. So, just let us know in the <a routerLink="/rsvp">RSVP form</a> if you would like your stays to be extended; but please be
                    informed this will come as an additional cost to yourself.
                </p>

                <div class="has-text-left mb-4">
                    <h4>Attractions Nearby</h4>
                    <ul>
                        <li>Walking distance to Lulu Mall, one of the largest shopping malls in India.</li>
                        <li>500m to Kochi Metro station.</li>
                        <li>2 kms away from the Museum of Kerala History.</li>
                        <li>13 kms to Wonderla Amuesment Park.</li>
                        <li>23 kms to Fort Kochi.</li>
                        <li>50 kms to Athirapilly waterfalls and Bhoothathan Kettu</li>
                    </ul>
                </div>

                <p>If you have any questions or need assistance with your accommodation, please let us know via the <a routerLink="/rsvp">RSVP form</a> or contact us directly.</p>

                <p>
                    <a class="button" href="https://www.marriott.com/en-us/hotels/cokmc-kochi-marriott-hotel/overview/" target="_blank" rel="noopener noreferrer">Click here to view the hotel</a>
                </p>
            </div>

            <div class="line-break"></div>

            <div class="page container is-max-desktop has-text-centered">
                <div class="separator">
                    <img src="assets/images/divider.svg" />
                </div>

                <h2>Flight Information</h2>
                <h3>Cochin International Airport</h3>

                <div class="separator flipped">
                    <img src="assets/images/divider.svg" />
                </div>

                <p>Please ensure your flights are booked to arrive at <strong>Cochin International Airport (COK)</strong>.</p>

                <p>
                    We suggest you land on the <strong>27th of December</strong> (check-in at 3pm) and depart after the <strong>31st of December</strong> (check-out at 12pm). However, the first function is not until <strong>2pm, 28th December</strong>; so
                    if you need to arrive later you can &mdash; just let us know via the <a routerLink="/rsvp">RSVP form</a>.
                </p>

                <p>Transfers to and from the airport will be arranged for you (30 minutes to the hotel). Please provide your flight details in the <a routerLink="/rsvp">RSVP form</a>.</p>
            </div>

            <div class="line-break"></div>

            <div class="page container is-max-desktop has-text-centered">
                <div class="separator">
                    <img src="assets/images/divider.svg" />
                </div>

                <h2>Travel</h2>
                <h3>Getting around Kochi</h3>

                <div class="separator flipped">
                    <img src="assets/images/divider.svg" />
                </div>

                <p>Our event planner will organise and arrange transport to <strong>all</strong> venues and functions.</p>

                <p>We will have a <strong>Whatsapp</strong> group for all guests staying in the hotel &mdash; please provide your phone number in the <a routerLink="/rsvp">RSVP form</a>.</p>

                <p>
                    For getting around the city, you can use services like
                    <a href="https://www.uber.com/in/en/r/cities/taxi/kochi-kerala-in/" target="_blank" rel="noopener noreferrer"><strong>Uber</strong></a
                    >, or the <a href="https://kochimetro.org/metro-stations/" target="_blank" rel="noopener noreferrer"><strong>Kochi Metro</strong></a
                    >. The hotel is conveniently located near a metro station, making it easy to explore the city.
                </p>

                <p>If you want the true Kerala experience, make sure you take a ride in an <strong>auto rickshaw</strong> for short distances. They are a fun and affordable way to get around the city.</p>

                <p>
                    <img src="assets/images/autorickshaw.jpg" alt="Auto Rickshaw" width="400" />
                </p>
            </div>
        </section>
    </div>
</div>
