.content {
    p {
        font-size: 1.4rem;
    }

    img {
        // width: 320px;
        // height: 200px;
        // object-fit: contain;
    }
}

.a-title {
    padding: 7vh 0;
    background: radial-gradient(circle, rgba(122, 6, 32, 0.9) 71%, rgba(210, 177, 144, 1) 100%);
    color: #fff;

    h2,
    h3 {
        font-family: 'Radley', serif;
        margin: 0;
    }

    h2 {
        font-size: 3.75rem;
        color: #fff;
    }

    h3 {
        color: #d2b190;
        font-size: 3rem;
        margin: 0.5rem 0 2rem;
    }
}

.a-sub-title {
    padding: 3vh 0;
}

.a-text {
    padding: 3vh 0;

    h3,
    h4 {
        color: #7a0620;
    }
}

hr {
    background-color: black;
}
