<div class="a-page">
    <div class="content">
        <section class="a-title">
            <div class="page container is-max-tablet has-text-centered">
                <div class="separator">
                    <img src="assets/images/divider.svg" />
                </div>

                <h2>The Dates</h2>
                <h3>28th - 30th December</h3>

                <div class="separator flipped">
                    <img src="assets/images/divider.svg" />
                </div>

                <p>
                    <em> The wedding will be a three-day celebration filled with love, laughter, and cherished moments. We invite you to join us in making these days unforgettable. </em>
                </p>
            </div>
        </section>

        <section class="a-text is-red">
            <div class="page container is-max-tablet has-text-centered">
                <h3>28th December &mdash; Ice Breaker Event</h3>
                <p>Join us for an evening of fun and games to kick off the celebrations!</p>
                <h3>29th December &mdash; Wedding Ceremony</h3>
                <p>Join us for the wedding ceremony at 3:30 PM, followed by a grand reception at 6:30 PM.</p>
                <h3>30th December &mdash; Private Reception</h3>
                <p>Join us for a private reception at 3:30 PM with family and close friends.</p>
            </div>
        </section>
    </div>
</div>
