<header>
    <div class="container is-flex is-align-items-center">
        <h1>
            <a routerLink="/"> R&R <span>&nbsp;|&nbsp;</span></a>
        </h1>
        <a class="nav-link mr-auto" routerLink="/">Home</a>

        <a class="nav-link" routerLink="wedding" routerLinkActive="is-active"> The Wedding </a>
        <a class="nav-link" routerLink="schedule" routerLinkActive="is-active"> Schedule </a>
        <a class="nav-link" routerLink="hotel" routerLinkActive="is-active">
            Travel &<br />
            Accommodation
        </a>
        <a class="nav-link" routerLink="destination" routerLinkActive="is-active"> Destination </a>
        <a class="nav-link" href="https://prezola.com/buy/view/248257" target="_blank" rel="noreferrer noopener">Registry</a>
        <a class="nav-link" routerLink="rsvp" routerLinkActive="is-active">RSVP</a>

        <button type="button" class="navbar-burger" [class.is-active]="menuOpen" aria-label="menu" aria-expanded="false" (click)="menuOpen = !menuOpen">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </button>
    </div>
</header>

<div class="navbar-menu is-hidden-tablet has-text-centered" [class.is-active]="menuOpen">
    <a class="navbar-item" routerLink="wedding" routerLinkActive="is-active"> The Wedding </a>
    <a class="navbar-item" routerLink="schedule" routerLinkActive="is-active"> Schedule </a>
    <a class="navbar-item" routerLink="hotel" routerLinkActive="is-active">
        Travel &<br />
        Accommodation
    </a>
    <a class="navbar-item" routerLink="destination" routerLinkActive="is-active"> Destination </a>
    <a class="navbar-item" href="https://prezola.com/buy/view/248257" target="_blank" rel="noreferrer noopener">Registry</a>
    <a class="navbar-item" routerLink="rsvp" routerLinkActive="is-active">RSVP</a>
</div>

<main>
    <router-outlet />
</main>

<footer>
    <div class="container has-text-centered">
        <small> Rob & Resh © {{ currentYear }} All rights reserved. </small>
    </div>
</footer>
