<div class="a-page">
    <div class="content">
        <section class="a-title no-sub">
            <div class="page container is-max-tablet has-text-centered">
                <div class="separator">
                    <img src="assets/images/divider.svg" />
                </div>

                <h2>
                    28th December <br />
                    <small>2pm - 5pm</small>
                </h2>

                <div class="separator flipped">
                    <img src="assets/images/divider.svg" />
                </div>

                <h3>The Wedding Eve</h3>
                <p>
                    <em> Join us for an afternoon of fun and games to kick off the celebrations. A perfect way to meet and mingle with friends and family before the big day. </em>
                </p>

                <p><strong>Location:</strong> Jade Hall &mdash; Marriot, Kochi</p>
                <p><strong>Dress Code:</strong> Smart Casual</p>
            </div>

            <div class="line-break"></div>

            <div class="page container is-max-tablet has-text-centered">
                <div class="separator">
                    <img src="assets/images/divider.svg" />
                </div>

                <h2>
                    29th December <br />
                    <small>3.30pm - 5pm</small>
                </h2>

                <div class="separator flipped">
                    <img src="assets/images/divider.svg" />
                </div>

                <h3>The Wedding</h3>
                <p>
                    <em> Join us for the wedding ceremony at the St. Mary's Orthodox Cathedral. For more information about the ceremony <a routerLink="/wedding">read here</a>.</em>
                </p>

                <p><strong>Location:</strong> St. Mary's Orthodox Cathedral, Marine Drive, Kochi</p>
                <p><strong>Dress Code:</strong> South Indian Attire</p>
                <p>
                    <strong>Note:</strong> A mood board will be shared for attire suggestions to help you decide what to wear. For a fee, we can arrange assistance for saree draping for woman, and mundu for men &mdash; please let us know in advance via
                    the <a routerLink="/rsvp">RSVP form</a> if you would like this service.
                </p>
            </div>

            <div class="line-break"></div>

            <div class="page container is-max-tablet has-text-centered">
                <div class="separator">
                    <img src="assets/images/divider.svg" />
                </div>

                <h2>
                    29th December <br />
                    <small>6.30pm onwards</small>
                </h2>

                <div class="separator flipped">
                    <img src="assets/images/divider.svg" />
                </div>

                <h3>Grand Reception</h3>
                <p>
                    <em>Join us for a grand reception to celebrate the union togther with our friends & families. Enjoy an evening filled with love, traditions, and joy.</em>
                </p>

                <p><strong>Location:</strong> Grand Hyatt Kochi Bolgatty (All guests will be chauffeured from the Cathedral to this venue)</p>
                <p><strong>Dress Code:</strong> South Indian Attire</p>
            </div>

            <div class="line-break"></div>

            <div class="page container is-max-tablet has-text-centered">
                <div class="separator">
                    <img src="assets/images/divider.svg" />
                </div>

                <h2>
                    30th December <br />
                    <small>5pm onwards</small>
                </h2>

                <div class="separator flipped">
                    <img src="assets/images/divider.svg" />
                </div>

                <h3>Intimate Reception</h3>
                <p>
                    <em>An Indo-Western styled private reception for family and close friends to celebrate the wedding in an intimate setting. There will be toasts, first dance etc.</em>
                </p>

                <p><strong>Location:</strong> Casino Hotel, CGH Earth, Wellington Island, Kochi</p>
                <p><strong>Dress Code:</strong> Indo-Western Attire</p>

                <!-- note, they can use the morning to travel around -->
                <p><strong>Note:</strong> You'll have the morning to explore Kochi and enjoy the local sights. For travel suggestions, please refer to the <a routerLink="/destination">Destination</a> section.</p>
            </div>
        </section>
    </div>
</div>
