section {
    position: relative;
    width: 100%;
    background: #50051b;
    padding-bottom: 4rem;

    img {
        width: 100%;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
        border-radius: 25px;
    }

    @media screen and (max-width: 768px) {
        padding-bottom: 2rem;
    }
}

.a-heading {
    margin-top: 3rem;
    text-align: center;

    h2 {
        font-size: 3.75rem;
        color: #50051b;
        margin: 5px 0 15px;
        line-height: 1.2;
    }

    img {
        max-height: none;
        height: 50px;
        max-width: 90%;
        filter: invert(12%) sepia(33%) saturate(4206%) hue-rotate(318deg) brightness(82%) contrast(110%);

        &:last-child {
            transform: rotate(180deg);
        }
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4rem;
    text-align: center;

    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        margin-bottom: 1rem;
        border-radius: 25px;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 1rem;
        color: #50051b;
    }

    .cell {
        width: calc(33.33% - 0.5rem);

        &:not(:last-child) {
            margin-right: 0.5rem;
        }

        p > img {
            display: none;
        }

        > div {
            padding: 0 0.75rem;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        padding-top: 2rem;
        text-align: left;

        .cell {
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-right: 0;
            padding: 1rem 0;
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 15px;

            > img {
                display: none;
            }

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            h3 {
                margin: 0;
            }

            p > img {
                display: block;
            }

            img {
                width: 100%;
                height: 400px;
                flex-shrink: 0;
                object-position: 0 65%;

                @media screen and (max-width: 600px) {
                    object-position: 0 65%;
                }
            }

            &:first-child img {
                object-position: 0 35%;
            }
        }
    }
}

.swiper-container {
    width: 100%;
    // padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    width: 300px;
    height: 300px;

    overflow: hidden;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}
