<section>
    <div class="container is-max-widescreen">
        <img src="assets/images/banner.jpg" alt="Rob & Resh" />
    </div>
</section>

<div class="a-page a-heading">
    <img src="assets/images/divider.svg" />
    <h2>Our Story</h2>
    <img src="assets/images/divider.svg" />
</div>

<div class="page container content">
    <div class="cell">
        <img src="assets/images/rob2.jpeg" />
        <div>
            <h3 class="is-size-4">Rob's Story</h3>
            <p>
                <img src="assets/images/rob2.jpeg" class="my-2" />
                Rob was born in Bristol and raised in the quiet village of Charvil, Reading. Whilst earning a degree in Forensic Computing, he discovered his true calling in software development and never looked back. Over the last decade, Rob has built a
                career as a Senior Full-Stack Developer in London. In his spare time, he built a golf app —a nod to his weekend devotion to the sport.
            </p>
        </div>
    </div>

    <div class="cell">
        <img src="assets/images/resh.jpeg" />
        <div>
            <h3 class="is-size-4">Resh's Story</h3>
            <p>
                <img src="assets/images/resh.jpeg" class="my-2" />
                Born in India, raised in the Middle East, and now based in the UK, Reshma's life has always been a blend of diverse cultures. She studied Electronics Engineering in India and spent two years working in tech before relocating to the UK to
                pursue her Master's in Artificial Intelligence at Southampton. After her Master's, she moved to Reading, purely for a change of location while job hunting, where she met Rob. Today, she works as an AI Engineer in Bicester.
            </p>
        </div>
    </div>

    <div class="cell">
        <img src="assets/images/robresh3.jpeg" />
        <div>
            <h3 class="is-size-4">Our Story</h3>
            <p>
                <img src="assets/images/robresh3.jpeg" class="my-2" />

                We met for the first time at Forbury Gardens in Reading and have shared countless adventures since. Cornwall is our happy place &mdash; where Resh braves the cold water while Rob stays warm and dry on the shore. That pretty much sums us
                up.
                <br />
                We share a love for Formula One &mdash; both McLaren fans, though Rob supports Lando and Resh roots for Piastri. Over time, we've trekked through hills, visited just about every Christmas market, spa, farmer's market and garden centre in
                reach, and spent many weekends on the golf course - Rob playing, Resh pretending to care. Somewhere along the way, we have become each other's best friend and rock.
                <br />
                Our relationship took a beautiful turn on May 18th, 2025, when Rob proposed at the same spot in Forbury Gardens where we first met and Resh said yes. Obviously!
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @for (src of images; track $index) {
                <div class="swiper-slide">
                    <img [src]="'assets/images/slideshow/' + src" />
                </div>
            }
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
