<div class="a-page">
    <div class="content">
        <section class="a-title">
            <div class="page container is-max-tablet has-text-centered">
                <div class="separator">
                    <img src="assets/images/divider.svg" />
                </div>

                <h2>The Wedding Ceremony</h2>
                <h3>A Sacred Celebration of Love</h3>

                <div class="separator flipped">
                    <img src="assets/images/divider.svg" />
                </div>

                <p>
                    <em>
                        As we prepare to get married, we're incredibly grateful to be surrounded by people who&#39;ve shaped our lives in so many ways. Whether you&#39;re joining us in person or in spirit, we wanted to share a bit about the wedding
                        ceremony — not just so you know what to expect, but because it means something deeply personal to us.
                    </em>
                </p>
            </div>
        </section>

        <section class="a-sub-title">
            <div class="page container is-max-tablet has-text-justified">
                <p>
                    Our wedding will take place in the tradition of the Malankara Orthodox Church, which Reshma grew up in — a branch of Christianity that traces its roots all the way back to St. Thomas the Apostle, who is said to have arrived in Kerala,
                    India, in 52 A.D. The ceremony carries layers of meaning, prayer, and symbolism — inviting not just two people, but two families, communities, and heritages into a lifelong embrace.
                </p>
                <p>
                    The Malankara Orthodox Syrian Church is part of the Oriental Orthodox communion, which includes the ancient churches of Egypt, Armenia, Syria, Ethiopia, and Eritrea. So, the prayers and hymns used in the service will incorporate a
                    blend of Syriac, Malayalam (the local language of Kerala), and English.
                </p>
            </div>
        </section>

        <section class="a-text">
            <div class="page container is-max-tablet has-text-justified">
                <h3 class="is-size-3 mb-2">What happens during the ceremony?</h3>
                <p>There are two main parts of the service:</p>

                <h4 class="is-size-4 pt-4">1. Blessing of the Rings (Betrothal)</h4>

                <p>
                    <img src="assets/images/ringblessing.jpg" width="350" ALIGN="left" HSPACE="15" VSPACE="5" />
                    The ceremony begins with the blessing of the rings, during which the priest places the rings on the fourth finger of our right hands. Unlike many Western weddings, we won&#39;t be exchanging the rings ourselves — they are placed by the
                    priest, who serves as a representative of God. The betrothal is viewed as a sacred contract, sealed before God and witnessed by family and friends.
                </p>

                <h4 class="is-size-4">2. Blessing of the Crowns (Crowning)</h4>
                <p>
                    <img src="assets/images/crownblessing.png" width="250" ALIGN="left" HSPACE="15" VSPACE="5" />
                    In a deeply symbolic moment, gold chains bearing crosses — referred to as &quot;crowns&quot; — are placed over the heads of the bride and groom. This is one of the most beautiful parts of the ceremony, as it marks the beginning of a
                    new shared life, filled with love, joy, sacrifice, and mutual care.
                </p>
                <p>
                    The crowning also represents the glory and honour bestowed upon the couple as they enter this new life. It echoes the biblical imagery of Christ as the groom and the Church as his bride, symbolizing a love that is both sacred and
                    enduring.
                </p>
            </div>
        </section>

        <section class="a-text is-red">
            <div class="page container is-max-tablet has-text-justified">
                <p>Beyond the formal parts of the service, there are two unique rituals woven into the ceremony that come from the Orthodox community&#39;s blend of Christian faith and Indian (Hindu) culture.</p>

                <h4 class="is-size-4">1. Minnu (Wedding Pendant)</h4>
                <p>
                    <img src="assets/images/pendant.jpg" width="225" ALIGN="left" HSPACE="15" VSPACE="10" />
                    The Minnu is a gold cross pendant tied around the bride&#39;s neck by the groom, using threads taken from her blessed wedding saree. The pendant includes seven small beads, representing the seven sacraments of the Church.
                </p>
                <p>The act of tying it with a knot symbolizes that we are bound together for life — spiritually and emotionally.</p>

                <h4 class="is-size-4">2. Manthrakodi (Blessed Wedding Saree)</h4>
                <p>
                    Later in the ceremony, the groom places a specially blessed saree — known as the Manthrakodi — over the bride&#39;s head. This tradition represents being welcomed into each other&#39;s lives and families, as well as the start of a new
                    life together.
                </p>
                <p>Traditionally, this saree is carefully preserved for life, and is sometimes even worn again during final rites, as a symbol of lasting love.</p>
            </div>
        </section>

        <section class="a-text">
            <div class="page container is-max-tablet has-text-justified">
                <p>We hope this gives you a glimpse into the beauty and significance of our wedding ceremony and we can&#39;t wait to share this special moment with you.</p>
            </div>
        </section>
    </div>
</div>
