.page-2 {
    display: block;
    background: #480d22;
    color: #fefefe;

    p,
    h3 {
        color: #fefefe;
    }

    section {
        padding: 3rem 2rem;
        max-width: 1000px;
        margin: auto;
    }

    h2 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
        color: #f9d88f;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #6e1b37;
        border-radius: 12px;
        padding: 1rem;
        gap: 1rem;
    }

    .card img {
        max-width: 100%;
        border-radius: 12px;
        box-shadow: 0 0 10px #00000055;
    }

    .card div {
        text-align: center;
    }

    .venue-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }

    .venue {
        flex: 1 1 280px;
        background: #6e1b37;
        padding: 1rem;
        border-radius: 12px;
        text-align: center;
        color: #fff6ec;
    }

    .venue img {
        width: 100%;
        border-radius: 8px;
        margin-top: 0.5rem;
        box-shadow: 0 0 8px #00000055;
    }

    footer {
        text-align: center;
        padding: 2rem 1rem;
        background-color: #3a0c1c;
        color: #e6cba8;
        font-style: italic;
        font-size: 1.2rem;
    }
}
