<div class="container">
    <h3 class="is-size-4 mb-2" translate>pages.details.description</h3>

    @for (user of users; track user.id) {
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">{{ user.name }}</p>
                    </div>

                    <div class="media-right">
                        @if (!forms[user.id]) {
                            <button class="button is-primary" (click)="edit(user)">
                                <span class="icon">
                                    <i class="fas fa-edit"></i>
                                </span>
                                <span translate>pages.details.edit</span>
                            </button>
                        } @else {
                            <button class="button is-success mr-2" (click)="save(user)">
                                <span class="icon">
                                    <i class="fas fa-save"></i>
                                </span>
                                <span translate>pages.details.save</span>
                            </button>
                            <button class="button is-danger is-outlined" (click)="cancel(user)">
                                <span class="icon">
                                    <i class="fas fa-times"></i>
                                </span>
                                <span translate>pages.details.cancel</span>
                            </button>
                        }
                    </div>
                </div>

                <div class="content">
                    @if (forms[user.id]; as form) {
                        <form [formGroup]="form">
                            <div class="columns">
                                <div class="field column">
                                    <label class="label" translate>pages.details.first_name</label>
                                    <div class="control">
                                        <input class="input" type="text" formControlName="firstName" />
                                    </div>
                                </div>

                                <div class="field column">
                                    <label class="label" translate>pages.details.last_name</label>
                                    <div class="control">
                                        <input class="input" type="text" formControlName="lastName" />
                                    </div>
                                </div>
                            </div>

                            <div class="columns">
                                <div class="field column">
                                    <label class="label" translate>pages.details.email</label>
                                    <div class="control">
                                        <input class="input" type="email" formControlName="email" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    } @else {
                        <p class="subtitle is-6">
                            <i class="fas fa-envelope mr-1"></i>

                            {{ user.email || '-' }}
                        </p>
                    }
                </div>
            </div>
        </div>
    }
</div>
